<h2 class="text-center m-3">Proyectos</h2>
<div
  class="row row-cols-1 row-cols-md-3 g-4 m-4 d-flex flex-wrap justify-content-center"
>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/weather.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Weather-Channel</h5>
        <p class="card-text">
          Proyecto que arma una página que muestra las condiciones
          meteorológicas de una ciudad, interactuando con la API del Weather
          Channel.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/Mariano-Javier/Proyecto-Weather-Channel"
          target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/todolist.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">To-do List</h5>
        <p class="card-text">
          Proyecto que busca crear un listado de tareas pendientes utilizando
          html, css y javascript
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/Mariano-Javier/To-do-list" target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/color.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Color-Game</h5>
        <p class="card-text">
          Juego en el que el usuario deberá adivinar un color a partir de su
          código RGB.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://github.com/Mariano-Javier/Color-Game" target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/encriptador.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Alura Oracle ONE - Encriptador de texto</h5>
        <p class="card-text">
          Encriptador desarrollado con JavaScript, HTML y CSS como práctica del
          Proyecto ONE de Oracle+Alura LATAM. El desafío consiste en construir
          una página que encripte y desencripte texto el cual es ingresado en un
          campo de texto.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/Mariano-Javier/Alura-Encriptador-de-texto"
          target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/ahorcado.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Alura Oracle ONE - Juego del ahorcado</h5>
        <p class="card-text">
          Juego desarrollado con JavaScript, HTML y CSS como práctica del
          Proyecto ONE de Oracle+Alura LATAM. El desafío consiste en construir
          un juego del ahorcado, en la que el usuario presiona debe adivinar la
          palabra escondida.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/Mariano-Javier/Alura-Desafio-2-Ahorcado"
          target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100 shadow-none">
      <img
        src="../../../assets/IMG/proyectos/presupuesto.jpg"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">App-Presupuesto</h5>
        <p class="card-text">
          Web app creada como práctica para Angular. La página funciona como
          administrador de gastos dado un presupuesto inicial, en el que el
          usuario va llenando una lista con artículos con un precio y este se va
          restando al presupuesto inicial, indicando cuanto dinero le va
          quedando.
        </p>
      </div>
      <div class="card-footer">
        <a
          href="https://github.com/Mariano-Javier/App-Presupuesto"
          target="_blank"
          >link del proyecto</a
        >
      </div>
    </div>
  </div>
</div>
