<h2 class="text-center m-3">Proyectos</h2>
<div class="row row-cols-1 row-cols-md-3 g-4 m-4">
    <div class="col">
      <div class="card h-100 shadow-none">
        <img src="../../../assets/IMG/logoTR.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyecto 1</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
            provident nemo. Quisquam voluptates placeat commodi voluptatibus aut fugit eligendi officia
            corrupti, rerum facere autem minima minus dolor itaque asperiores!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Descripción opcional</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-none">
        <img src="../../../assets/IMG/logoTR.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyecto 2</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
            provident nemo. Quisquam voluptates placeat commodi voluptatibus aut fugit eligendi officia
            corrupti, rerum facere autem minima minus dolor itaque asperiores!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Descripción opcional</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100 shadow-none">
        <img src="../../../assets/IMG/logoTR.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Proyecto 3</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi minus
            provident nemo. Quisquam voluptates placeat commodi voluptatibus aut fugit eligendi officia
            corrupti, rerum facere autem minima minus dolor itaque asperiores!</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Descripción opcional</small>
        </div>
      </div>
    </div>
  </div>