<h2 class="text-center m-3">Proyectos</h2>

<section class="sect-pt4 ">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 d-flex flex-wrap justify-content-center">

      <div class=" col-lg-4 col-sm-12">
        <div class="work-box">
          <div  class="">
            <div class="work-img">
              <img src="../../../assets/IMG/proyectos/work-1.jpg" alt="" class="img-fluid">
            </div>
          </div>
          <div class="work-content">
            <div class="row">
              <div class="col-sm-8">
                <h2 class="w-title">Weather-Channel</h2>
                <div class="w-more">
                  <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                </div>
              </div>
              
              <div class="col-sm-4">
                <div class="w-like">
                  <a href="#"> <span class="bi bi-link"></span></a>
                </div>
              </div>
            </div>
            <p>         Proyecto que arma una página que muestra las condiciones
              meteorológicas de una ciudad, interactuando con la API del Weather
              Channel.</p>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</section>
