<h2 class="text-center m-3">Hard & Soft Skills</h2>
<div class="container  d-flex justify-content-center flex-wrap">
    <div>
      <div class="c100 p90 blue mb-2">
        <span>90%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h3 class="text-center">HTML</h3>
    </div>
    <div>
      <div class="c100 p75 pink mb-2">
        <span>75%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h3 class="text-center">CSS</h3>
    </div>
    <div>
      <div class="c100 p50 green mb-2">
        <span>50%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h3 class="text-center">JavaScript</h3>
    </div>
    <div>
      <div class="c100 p40 orange mb-2">
        <span>40%</span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
      <h3 class="text-center">Angular</h3>
    </div>
  </div>