.navbar-img{
    width: 40px;
}

.redondeado{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.socials{
    text-align: center;
    /* padding-bottom: 20px; */
}

.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}


@media (max-width: 576px) { 

    .newSize{
        justify-content: center;
    }

    
    }
