<nav class="navbar bg-light redondeado newSize">
    <div class="d-flex justify-content-start align-items-center">
      <img src="../../../assets/IMG/logo.png" alt="" class="navbar-img my-auto ms-2 d-inline-block align-text-top" />
      <div class="d-flex flex-column ms-2 align-items-center">
        <h5 class="m-0">Argentina Programa</h5>
        <p class="m-0">#YoProgramo</p>
      </div>
    </div>
    <div class="d-flex">
      <div class="socials d-flex align-items-center">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-linkedin"></i>
        <i class="fa fa-dribbble"></i>
        <i class="fa fa-twitter"></i>
      </div>
      <button class="btn btn-sm btn-outline-secondary m-2" type="button" (click)="login()">
        LogIn
      </button>
    </div>
  </nav>

