<!-- <div class="img1"><img src="../../../assets/IMG/bgb.jpg" alt="" /></div> -->
<div class="imgBack"></div>

<div class="row">
  <div class="img2 col-md-3 d-flex flex-column align-items-center">
    <img src="../../../assets/IMG/profile-picture.jpg" alt="" />
    <div class="main-text">
      <h2>Mariano Javier</h2>
      <p>Full Stack Developer Jr..</p>
    </div>
  </div>
  <div class="col-md-9">
    <div class="m-3 p-2">
      <h2>Acerca de</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iste dolorem harum, ullam iure
        aspernatur quam dolor non est cumque hic aliquid molestias praesentium impedit ipsa quia. Enim,
        numquam possimus.</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel iste dolorem harum, ullam iure
        aspernatur quam dolor non est cumque hic aliquid molestias praesentium impedit ipsa quia. Enim,
        numquam possimus.</p>
    </div>
  </div>
</div>