<!-- <div class="img1"><img src="../../../assets/IMG/bgb.jpg" alt="" /></div> -->
<div class="imgBack"></div>

<div class="row" *ngFor="let item of persona">
  <div class="img2 col-md-3 d-flex flex-column align-items-center">
    <img src={{item.img}} alt="" />
    <div class="main-text">
      <!-- <h2>Mariano Javier</h2> -->
      <h2>{{item.nombre}} {{item.apellido}}</h2>
      <p>{{item.titulo}}</p>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-light" routerLink="/editacercade/{{item.id}}" *ngIf="isLogged"> <i class="bi bi-pencil"></i>
        Editar persona
      </button>
    </div>
  </div>
  <div class="col-md-9">
    <div class="m-3 p-2">
      <h2>Acerca de</h2>
      
      <pre>{{item.descripcion}}</pre> 
      
    </div>
  </div>
</div>