<app-navbar></app-navbar>
<div class="profile-area">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <app-header></app-header>
          <hr class="solid">
          <app-experiencia></app-experiencia>
          <hr class="solid">
          <app-educacion></app-educacion>
          <hr class="solid">
          <app-hardsoft-skills></app-hardsoft-skills>
          <hr class="solid">
          <app-proyectos></app-proyectos>
          <hr class="solid">
          <app-footer></app-footer>
        </div>
      </div>
    </div>
  </div>
</div>
